#Epl Players

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
players = pd.read_csv('/content/drive/MyDrive/EPL_DS_Challenge/epl_players.csv')

In [ ]:
players.head()

   player_id         birthday  height  ...  gk_kicking gk_positioning gk_reflexes
0     155782  12/15/1989 0:00  170.18  ...         9.0            9.0        12.0
1     155782  12/15/1989 0:00  170.18  ...         9.0            9.0        12.0
2     155782  12/15/1989 0:00  170.18  ...         9.0            9.0        12.0
3     155782  12/15/1989 0:00  170.18  ...         9.0            9.0        12.0
4     155782  12/15/1989 0:00  170.18  ...         9.0            9.0        12.0

[5 rows x 41 columns]

In [ ]:
goals = pd.read_csv('/content/drive/MyDrive/EPL_DS_Challenge/epl_goals.csv')

In [ ]:
goals.head()

   match_id  team_id  goal_number  player1_id  player2_id goal_type
0     49337    10261            1     37799.0     38807.0    header
1     49337    10260            2     24148.0     24154.0      shot
2     38136     9825            1     26181.0     39297.0      shot
3     43276     8650            1     30853.0     30889.0  distance
4     40671     8654            1     23139.0     36394.0      shot

In [ ]:
potential_shots = pd.read_csv('/content/drive/MyDrive/EPL_DS_Challenge/epl_potential_shots.csv')

In [ ]:
potential_shots.head()

   match_id  team_id  shot_number  player1_id     shot_type
0     49337    10260            1     24154.0  blocked_shot
1     49337    10260            2     24157.0        header
2     49337    10260            3     30829.0          shot
3     49337    10260            4     30373.0          shot
4     49337    10260            5     30373.0      distance

##Which are the 10 most and least valuable players for the session 2014-2015? – As a Data Scientist, your challenge is to investigate the available data and develop a metric(s) to identify the most and least “valuable” player.
###- Use number of goals, close shots and other relevant attributes

In [ ]:
players.columns

Index(['player_id', 'birthday', 'height', 'weight', 'date', 'preferred_foot',
       'attacking_work_rate', 'defensive_work_rate', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve',
       'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration',
       'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power',
       'jumping', 'stamina', 'strength', 'long_shots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'marking',
       'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes'],
      dtype='object')

In [ ]:
from datetime import datetime

In [ ]:
players["date"] = pd.to_datetime(players["date"])
players = players.sort_values(by="date")

In [ ]:
players = players[players['date']<'2014-01-01']
players.head()

       player_id         birthday  ...  gk_positioning  gk_reflexes
32732      35506   10/6/1981 0:00  ...             7.0         11.0
11745      33339  11/16/1978 0:00  ...            77.0         71.0
2746       11736   7/30/1982 0:00  ...            15.0         10.0
22008     301234    8/6/1992 0:00  ...            14.0          9.0
11722      23983  12/20/1978 0:00  ...            10.0         11.0

[5 rows x 41 columns]

In [ ]:
players.attacking_work_rate.value_counts()

medium    12994
high       4851
low         931
None        161
y            38
stoc         13
norm          6
le            4
Name: attacking_work_rate, dtype: int64

In [ ]:
players['attacking_work_rate'] = players['attacking_work_rate'].replace(['None', 'y', 'stoc', 'norm', 'le'], 'medium')
players.attacking_work_rate.value_counts()

medium    13216
high       4851
low         931
Name: attacking_work_rate, dtype: int64

In [ ]:
players.defensive_work_rate.value_counts()

medium    12679
high       3589
low        2511
_0          157
o            64
es           38
9            29
0            19
2            18
tocky        13
1            12
7             9
5             7
ormal         6
ean           4
Name: defensive_work_rate, dtype: int64

In [ ]:
players['defensive_work_rate'] = players['defensive_work_rate'].replace(['_0', 'o','es', '9','0', '2', 'tocky','1', '7', '5', 'ormal','ean' ], 'medium')
players.defensive_work_rate.value_counts()

medium    13055
high       3589
low        2511
Name: defensive_work_rate, dtype: int64

In [ ]:
players['attacking_work_rate'].replace({'low':0, 'medium': 1, 'high':2}, inplace = True)
players['defensive_work_rate'].replace({'low':0, 'medium': 1, 'high':2}, inplace = True)
#players.head()

In [ ]:
players.drop(['birthday', 'height', 'weight', 'date', 'preferred_foot'],axis=1, inplace=True)

In [ ]:
players.isnull().sum()

player_id                0
attacking_work_rate    318
defensive_work_rate    161
crossing               161
finishing              161
heading_accuracy       161
short_passing          161
volleys                264
dribbling              161
curve                  264
free_kick_accuracy     161
long_passing           161
ball_control           161
acceleration           161
sprint_speed           161
agility                264
reactions              161
balance                264
shot_power             161
jumping                264
stamina                161
strength               161
long_shots             161
aggression             161
interceptions          161
positioning            161
vision                 264
penalties              161
marking                161
standing_tackle        161
sliding_tackle         264
gk_diving              161
gk_handling            161
gk_kicking             161
gk_positioning         161
gk_reflexes            161
dtype: int64

In [ ]:
players.sort_values(by = 'player_id', inplace=True)
players.head()

       player_id  attacking_work_rate  ...  gk_positioning  gk_reflexes
24599       2802                  2.0  ...             9.0          7.0
24605       2802                  1.0  ...             9.0          7.0
24609       2802                  1.0  ...            20.0         20.0
24612       2802                  1.0  ...            20.0         20.0
24613       2802                  1.0  ...            20.0         20.0

[5 rows x 36 columns]

In [ ]:
goals.sort_values(by = 'player1_id').head()

      match_id  team_id  goal_number  player1_id  player2_id goal_type
5413     51359    10003            1      2802.0     24123.0      shot
4402     37868    10003            2      2802.0    157369.0      shot
6095     31177    10003            2      2802.0    118528.0      shot
6314     54597    10003            4      2802.0    127130.0      shot
4901     48289    10003            4      2802.0    118528.0      shot

In [ ]:
player_id = goals.player1_id.unique()
players_goal = pd.DataFrame()
sum_goal = []
for i in player_id:
    sum = 0
    p = goals[goals['player1_id']==i]
    sum = np.sum(p['goal_number'])
    sum_goal.append(sum)

In [ ]:
players_goal = pd.DataFrame({'player_id':player_id, 'goals':sum_goal})

In [ ]:
players_goal.sort_values(by='goals', ascending=False, inplace=True)
players_goal.head()

     player_id  goals
35     30843.0    352
52     30829.0    339
505    37412.0    293
27     30631.0    265
42     30618.0    234

In [ ]:
columns = []
for i in players.columns:
  columns.append(i)

columns = columns[3:]

In [ ]:
player_id1 = players.player_id.unique()
player_id = []
attacking_work_rate = []
defensive_work_rate = []
players_new = []
for i in player_id1:
    player = players[players['player_id']==i]
    player_id.append(i)
    k = player['attacking_work_rate'].mode()
    attacking_work_rate.append(k)
    defensive_work_rate.append(player['defensive_work_rate'].mode()[0])
    players_new.append(player[columns].mean(skipna = True))

In [ ]:
players_new1 = pd.DataFrame()
players_new1['player_id'] = player_id
players_new1['attacking_work_rate'] = attacking_work_rate
players_new1['defensive_work_rate'] = defensive_work_rate
players_new1[columns] = players_new
players_new1.head()

   player_id      attacking_work_rate  ...  gk_positioning  gk_reflexes
0       2802  0    1.0
dtype: float64  ...       12.666667    11.333333
1       3512  0    1.0
dtype: float64  ...       15.769231    15.538462
2       3520  0    0.0
dtype: float64  ...       12.000000    17.235294
3       8922  0    1.0
dtype: float64  ...       13.777778    10.166667
4       8985  0    1.0
dtype: float64  ...       15.875000    15.875000

[5 rows x 36 columns]

In [ ]:
players_new1 = players_new1.merge(players_goal, on = 'player_id')

In [ ]:
for i in range(len(players_new1.attacking_work_rate)):
  if i!=39 and i!=84 and i!=95 and i!= 119 and i!=122 and i!=136 and i!=140 and i!= 188 and i!=222 and i!= 226 and i!= 289 and i!= 396 and i!=424 and i!=437 and i!=439 and i!=460 and i!= 495 and i!= 511 and i!= 542 and i!= 585 and i!= 590 and i!= 646 and i!= 690 and i!= 722 and i!= 781:
    players_new1.attacking_work_rate[i] = int(players_new1.attacking_work_rate[i])
  else:
    players_new1.attacking_work_rate[i] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
players_new1.head()

   player_id attacking_work_rate  ...  gk_reflexes  goals
0       2802                   1  ...    11.333333     13
1       3520                   0  ...    17.235294     71
2       8922                   1  ...    10.166667     85
3       8985                   1  ...    15.875000     27
4      10491                   1  ...    16.416667     13

[5 rows x 37 columns]

In [ ]:
def normalize(data, cols):
  for i in columns:
      data[i] = data[i]/max(data[i])
  return data

In [ ]:
columns = players_new1.columns[1:]
players_new1 = normalize(players_new1, columns)
players_new1.head()

   player_id attacking_work_rate  ...  gk_reflexes     goals
0       2802                 0.5  ...     0.129393  0.036932
1       3520                   0  ...     0.196776  0.201705
2       8922                 0.5  ...     0.116073  0.241477
3       8985                 0.5  ...     0.181246  0.076705
4      10491                 0.5  ...     0.187430  0.036932

[5 rows x 37 columns]

In [ ]:
# CHANGE(UPDATED)

attacking_cols = ['attacking_work_rate', 'crossing', 'finishing', 'heading_accuracy', 'short_passing','volleys',
                  'dribbling', 'curve', 'free_kick_accuracy', 'ball_control', 'acceleration', 'sprint_speed',
                  'agility', 'reactions', 'balance', 'shot_power', 'positioning', 'penalties', 'goals'
                  ]
# setting high weights to those attributes which are essential for attacker and set rest of attributes as zero
weights_attack = [9, 8, 9, 7, 7, 8, 8, 7, 9, 8, 8, 8, 9, 7, 7, 8, 7, 9, 10]
sum_weights_attack = np.sum(weights_attack)

k = 0
k = np.array(players_new1[attacking_cols]*weights_attack)
attacking_score = []
for i in range(len(k)):
  attacking_score.append(np.sum(k[i,:]))

attacking_score = attacking_score/sum_weights_attack
max(attacking_score)

0.9269877553550747

In [ ]:
# set a simple quadratic function as an activation function
def Activation(score):
  score = score*100
  act = score**2/93**2
  return act

In [ ]:
defensive_cols = [ 'heading_accuracy', 'short_passing', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'reactions',
                  'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'interceptions', 'positioning', 'vision',
                  'marking', 'standing_tackle', 'sliding_tackle'
]
# similarly set high weights to those attributes which makes a player stronger defender and set rest of the attributes as zero
weights_defence = [7, 9, 9, 7, 8, 7, 6, 7, 9, 8, 8, 8, 9, 9, 8, 7, 10, 10, 10]
sum_weights_defence = np.sum(weights_defence)

In [ ]:
k = 0
k = np.array(players_new1[defensive_cols]*weights_defence)

defensive_score = []
for i in range(len(k)):
  defensive_score.append(np.sum(k[i,:]))

defensive_score = defensive_score/sum_weights_defence
max(defensive_score)

0.8942804489437526

In [ ]:
goal_keep_cols = ['reactions', 'balance', 'jumping', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']
# Because of less attributes we need to give very high weights to attributes of goal keeper
weights_gk = [8,8, 9, 10,10,8,9,9]
sum_weights_gk = np.sum(weights_gk)


k = 0
k = np.array(players_new1[goal_keep_cols]*weights_gk)

gk_score = []
for i in range(len(k)):
  gk_score.append(np.sum(k[i,:]))

gk_score = gk_score/sum_weights_gk
max(gk_score)

0.9040412102602922

In [ ]:
attacking_score = Activation(attacking_score)
defensive_score = Activation(defensive_score)
gk_score = Activation(gk_score)

In [ ]:
min(attacking_score)

0.10259933728051977

In [ ]:
players_new1['attacking_score'] = attacking_score
players_new1['defensive_score'] = defensive_score
players_new1['gk_score'] = gk_score

players_new1['score'] = 0
for i in range(len(players_new1)):
  players_new1['score'].iloc[i] = max(players_new1['attacking_score'].iloc[i], players_new1['defensive_score'].iloc[i], players_new1['gk_score'].iloc[i])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
players_new1.head()

   player_id attacking_work_rate  ...  gk_score     score
0       2802                 0.5  ...  0.180752  0.663849
1       3520                   0  ...  0.186818  0.677407
2       8922                 0.5  ...  0.130874  0.572135
3       8985                 0.5  ...  0.142017  0.593559
4      10491                 0.5  ...  0.168818  0.620219

[5 rows x 41 columns]

In [ ]:
# top10 players/ most valueable
top = players_new1.sort_values(by = 'score', ascending= False).head(10)
top

     player_id attacking_work_rate  ...  gk_score     score
316      30843                   1  ...  0.155393  0.993533
310      30829                   1  ...  0.205124  0.991028
325      30893                   1  ...  0.245218  0.961754
462      37412                   1  ...  0.231904  0.954098
341      30989                 0.5  ...  0.944954  0.944954
295      30660                 0.5  ...  0.944812  0.944812
297      30675                   1  ...  0.223123  0.924659
499      38817                   1  ...  0.216411  0.913261
293      30631                   1  ...  0.206801  0.907662
448      36615                 0.5  ...  0.190380  0.904335

[10 rows x 41 columns]

In [ ]:
bottom = players_new1.sort_values(by = 'score', ascending= True).head(10)

In [ ]:
bottom

     player_id attacking_work_rate  ...  gk_score     score
712     149895                 0.5  ...  0.110264  0.308110
835     502421                 0.5  ...  0.097578  0.331498
779     192921                 0.5  ...  0.117880  0.334652
643     102602                 0.5  ...  0.111657  0.337860
836     532741                 0.5  ...  0.124105  0.342176
71       23499                 0.5  ...  0.187434  0.354766
624      93458                   0  ...  0.139899  0.370083
685     117545                 0.5  ...  0.131526  0.371968
693     127133                 0.5  ...  0.138148  0.375459
800     214570                 0.5  ...  0.097749  0.380055

[10 rows x 41 columns]

In [ ]:
top_id = []
for i in top['player_id']:
  top_id.append(i)

bot_id = []
for i in bottom['player_id']:
  bot_id.append(i)

In [ ]:
top_bot = pd.DataFrame({'top_valueable_player_id':top_id, 'least_valueable_id': bot_id})
top_bot.to_csv('/content/drive/MyDrive/EPL_DS_Challenge/player_list_submission.csv')

In [ ]:
top_bot

   top_valueable_player_id  least_valueable_id
0                    30843              149895
1                    30829              502421
2                    30893              192921
3                    37412              102602
4                    30989              532741
5                    30660               23499
6                    30675               93458
7                    38817              117545
8                    30631              127133
9                    36615              214570

In [ ]:
players_new1.to_csv('/content/drive/MyDrive/EPL_DS_Challenge/player_score.csv')